parameters:
    bootstrap: %rootDir%/../../../phpstan-bootstrap.php
    ignoreErrors:
          - '#Variable property access on .*#'
services:
  -
    class: TheCodingMachine\PHPStan\Rules\Exceptions\EmptyExceptionRule
    tags:
      - phpstan.rules.rule
includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
